<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TXTdosya_aktar.Properties.Settings.TXTaktar" connectionString="Data Source=DESKTOP-IR78ESM;Initial Catalog=Calisanlar;User ID=sa;Password=123456ab;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>